@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap");
@import "reset.scss";

.gallery {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, mediumpurple, aqua);
  position: relative;

  h1 {
    font: normal 24px/1 "orbitron";
    color: #fff;
    letter-spacing: 1px;
    position: absolute;
    top: 70px;
    left: 50px;

    span {
      color: #eee;
    }
  }

  .swiper-wrapper {
    width: 100%;
  }

  .auto {
    position: absolute;
    bottom: 60px;
    left: 60px;
    z-index: 2;

    li {
      float: left;
      margin-right: 20px;
      font-size: 20px;
      color: #fff;
      cursor: pointer;
    }
  }

  /* var 함수 : css에서 sass의 mixin을 모방한 함수입니다 */
  .swiper-button-next {
    top: auto; // 기존의 부여된 top값을 초기화하여 없는 것처럼 만듦
    bottom: 50px;
    right: 60px;
    filter: grayscale(100%) brightness(3);
  }

  .swiper-button-prev {
    top: auto;
    left: auto;
    bottom: 50px;
    right: 100px;
    filter: grayscale(100%) brightness(3);
  }

  .swiper-pagination-fraction {
    bottom: auto;
    left: auto;
    top: 50px;
    right: 50px;
    width: auto;
    font-size: 16px;
    font-family: "orbitron";
    color: #333;
    letter-spacing: 1px;

    span.swiper-pagination-current {
      font-size: 30px;
      color: #fff;
    }
  }
}
